node_modules/
dist/
.next/
api/
asset/
public/
pages/
scripts/
backup/
types/
__tests__/
postcss.config.js
tailwind.config.js
vite.config.ts
vercel-build.js
vercel.json
pnpm-lock.yaml
package-lock.json
index.html
